<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandController</servlet-name>
        <servlet-class>Controller.BrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>Controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EULAController</servlet-name>
        <servlet-class>Controller.EULAController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEULAController</servlet-name>
        <servlet-class>Controller.EditEULAController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>Controller.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>Controller.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>Controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>Controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>Controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>Controller.ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandController</servlet-name>
        <url-pattern>/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EULAController</servlet-name>
        <url-pattern>/eula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEULAController</servlet-name>
        <url-pattern>/editEULA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/admin_dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/products_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/delete_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/add_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/edit_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
