/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 9, 2022, 12:24:48 AM
    Author     : vuman
*/

.row .col-sm-4{
    padding-left: 0;
    padding-right: 0;
}

.roll_back a{
    border: 1px solid #ccc;
    color: black;
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.roll_back a:hover{
    background-color: #555;
    color: white;
    text-decoration: none;
}

.user_address{
    border: 1px solid #ccc;
    border-radius: 5px;
}

.head{
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    display: block;
    padding-left: 20px;
}

.body{
    padding-left: 20px;
}